<p id="notice"><%= notice %></p>


<div style="float: left">
  <%= image_tag @person.image.url(:medium) %>
</div>

<div style="float: left">
<p>
  <h3><%= @person.name %></h3>
</p>

<p>
  <%= @person.description %>
</p>

<p>
  <strong>Interests:</strong>
  <%= render @person.tags %>
</p>
</div>

<div style="clear: left">
  <% if current_user %>
    <td><%= link_to 'Edit', edit_person_path(@person) %></td>
    <td><%= link_to 'Destroy', @person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
  <%= link_to 'Back', people_path %>
</div>
