<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @person.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= render @person.tags %>
</p>

<p>
  <%= image_tag @person.image.url(:medium) %>
</p>
<br>
<%= link_to 'Back', people_path %>
