<p id="notice"><%= notice %></p>


<div style="float: left">
  <%= image_tag @person.image.url(:medium) %>
</div>

<div style="float: left">
<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @person.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= render @person.tags %>
</p>
</div>


<% if current_user %>
  <td><%= link_to 'Edit', edit_person_path(@person) %></td>
  <td><%= link_to 'Destroy', @person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>

<div style="clear: left">
<%= link_to 'Back', people_path %>
</div>
