<p id="notice"><%= notice %></p>

<h1>Listing Enterprises</h1>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enterprises.each do |enterprise| %>
      <tr>
        <td><%= link_to enterprise.name, enterprise %></td>
        <td><%= enterprise.description %></td>
        <% if current_user %>
         <td><%= link_to 'Edit', edit_enterprise_path(enterprise) %></td>
          <td><%= link_to 'Destroy', enterprise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
