<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @enterprise.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @enterprise.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @enterprise.user_id %>
</p>
<br>
<%= link_to 'Back', enterprises_path %>
