<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_area :tags, value: @tag_s %>
  </div>
  <div class="field">
    <%= f.label :event_at %><br>
    <%= f.date_select :event_at, class: 'datetimepicker' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
