<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "What's the name of your organization?" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "About this organization" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :tags, "Tags for this organization (separate with commas)" %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
