<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<script type="text/javascript" src="assets/javascripts/filter.js"></script>
<div class="input-group" style="float:left">
    <input id="filter" type="text" class="form-control" placeholder="Filter results">
</div>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="searchable">
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.name, organization %></td>
        <td><%= organization.description %></td>
        <td><%= render organization.tags %></td>
        <% if current_user %>
          <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
          <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
